:root {
  --color-black: #272727;
  --color-white: #ffffff;
  --color-grey: #eeeeee;
  --color-link: #1a0dab;
  --color-code: #00ff00;
  --color-hire-white: #fefefe;
  --color-hire-black: #272727;
  --color-hire-green: #b6efd4;
  --color-hire-blue: #a0ccda;
  --color-hire-shadow: rgba(0, 0, 0, 0.2);
  --br: 600px;
}
