{{ block "meta" . }}
<title>{{ .Site.Title }} — {{ index .Meta "title" }}</title>
{{ end }}

{{ block "main" . }}
<main>
    <div class="about">
        <div class="about__title">
            <h1>{{ index .Meta "title" }}</h1>
        </div>

        <div class="about__content">
            {{ .HTML }}
        </div>
    </div>

    <ul class="blog">
        {{ $collection := getCollection .Site "blog" }}
        {{ range $collection.Pages }}
        {{ if not (index .Meta "hidden") }}
        <li><a href="/{{ .Path }}">{{ index .Meta "date"}} - {{ index .Meta "title" }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
</main>
{{ end }}