{{ define "header" }}
  <div class="header">
    <h1><a href="/">{{ .Site.Title }}</a></h1>
    <ul>
      {{ range .Site.Pins }}
        <li>
          <a href="{{ .Path }}">{{ .Text }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
